<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大类年报</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
    <div id="app" v-loading="loading">
        <div class="block">
            <span class="demonstration">统计日期</span>
                <el-date-picker
                        v-model="end"
                        type="year"
                        format="yyyy"
                        value-format="yyyy"
                        placeholder="选择日期">
                </el-date-picker>
        </div>
        <div style="display: flex;justify-content: center;">
            <el-button type="primary" v-on:click="search">搜索</el-button>
        </div>
        <div>
            <el-table
                    :data="tableData"
                    border
                    :style="'width:'+wd+'px'">
                <el-table-column
                        prop="index"
                        label="#"
                        type="index"
                        width="40">
                </el-table-column>
                <el-table-column
                        prop="月份"
                        label="月份"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="店铺数量"
                        label="店铺数量"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="总销数量"
                        label="总销数量"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="总销金额"
                        label="总销金额"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="库存总量"
                        label="库存总量"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="店均库存"
                        label="店均库存"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="店均销售数量"
                        label="店均销售数量"
                        width="110">
                </el-table-column>
                <el-table-column
                        prop="店均销售金额"
                        label="店均销售金额"
                        width="110">
                </el-table-column>
            </el-table>
        </div>


    </div>

    <script>
        window.onload = function() {
            // 阻止双击放大
            var lastTouchEnd = 0;
            document.addEventListener('touchstart', function(event) {
                if (event.touches.length > 1) {
                    event.preventDefault();
                }
            });
            document.addEventListener('touchend', function(event) {
                var now = (new Date()).getTime();
                if (now - lastTouchEnd <= 300) {
                    event.preventDefault();
                }
                lastTouchEnd = now;
            }, false);

            // 阻止双指放大
            document.addEventListener('gesturestart', function(event) {
                event.preventDefault();
            });
        }

        new Vue({
            el: '#app',
            data: function() {
                return {
                    end: '2020',
                    tableData:[],
                    wd:800,
                    loading:false,
                    currentPage3:1,
                    total:0,
                    pageIndex:1,
                    pageSize:5
                }
            },
            mounted: function(){
                const t = this;
                t.search()
            },
            created: function () {
                const t = this;

                // t.getNowDate();

            },
            methods: {
                search(){
                    const _vm = this;
                    if (_vm.end===""){
                        alert("请选择统计时间")
                        return
                    }
                    _vm.loading = true;
                    let  param = 'year='+_vm.end;

                    console.log(param)
                    axios.get('http://192.168.0.7:9090/api/BIgYearReportData?'+param)
                        .then(function (response) {
                            console.log(response.data)
                            _vm.tableData=response.data
                            _vm.loading = false;
                            _vm.total = response.data.total;
                            console.log(_vm.tableData);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                getNowDate() {
                    const  t =this;
                    const nowDate = new Date();
                    let date = {
                        year: nowDate.getFullYear(),
                        month: (nowDate.getMonth() + 1)>10?(nowDate.getMonth()+1):"0"+(nowDate.getMonth()+1),
                        date: nowDate.getDate()>10?nowDate.getDate():"0"+nowDate.getDate(),
                    }
                    const  end = date.year + '-'+ date.month + '-'+ date.date;
                    t.end = end;
                },
                handleSizeChange(val) {
                    const t = this
                    t.pageSize = val
                    t.search()
                },
                handleCurrentChange(val) {
                    const t = this
                    t.pageIndex = val
                    t.search()
                },
                prePage(val){
                    const t = this
                    t.pageIndex = val
                    t.search()
                },
                nextPage(val){
                    const t = this
                    t.pageIndex = val
                    t.search()
                },
                startDate(date){
                    console.log(date)
                },
                endTime(date){
                    console.log(date)
                },
            }
        })
    </script>
</body>
</html>