<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>

</head>
<body>
<div id="app"
     v-loading="loading">

    <div>
        <van-row type="flex"  >
            <van-col span="4">
                <van-cell>上期</van-cell>
            </van-col>
            <van-col span="7"  style="border: 1px solid #a1a1a1; border-right: none">
                <div>
                    <van-cell  @click="showPopup">{{startTime}}</van-cell>
                    <van-popup v-model="showDateMotail"  position="bottom">
                        <div>
                            <van-datetime-picker
                                    v-model="currentDate"
                                    type="date"
                                    title="选择开始时间"
                                    :min-date="minDate"
                                    :max-date="maxDate"
                                    @confirm="confirmDate"
                                    :formatter="formatter"
                            />
                        </div>
                    </van-popup>
                </div>
            </van-col>

            <van-col span="7" style="border: 1px solid #a1a1a1;"  >
                <div >
                    <van-cell  @click="showPopup1">{{endTime}}</van-cell>
                    <van-popup v-model="showDateMotail1"  position="bottom" >
                        <div>
                            <van-datetime-picker
                                    v-model="currentDate"
                                    type="date"
                                    title="选择结束时间"
                                    :min-date="minDate"
                                    :max-date="maxDate"
                                    @confirm="confirmDate1"
                                    :formatter="formatter"
                            />
                        </div>
                    </van-popup>
                </div>
            </van-col>
        </van-row>
    </div>
    <div>
        <van-row type="flex"  >
            <van-col span="4">
                <van-cell>本期</van-cell>
            </van-col>
            <van-col span="7"  style="border: 1px solid #a1a1a1; border-right: none">
                <div>
                    <van-cell  @click="showPopup2">{{startTime2}}</van-cell>
                    <van-popup v-model="showDateMotail2"  position="bottom" >
                        <div>
                            <van-datetime-picker
                                    v-model="currentDate"
                                    type="date"
                                    title="选择开始时间"
                                    :min-date="minDate"
                                    :max-date="maxDate"
                                    @confirm="confirmDate2"
                                    :formatter="formatter"
                            />
                        </div>
                    </van-popup>
                </div>
            </van-col>

            <van-col span="7" >
                <div >
                    <van-cell style="border: 1px solid #a1a1a1;"  @click="showPopup3">{{endTime2}}</van-cell>
                    <van-popup v-model="showDateMotail3"  position="bottom" >
                        <div>
                            <van-datetime-picker
                                    v-model="currentDate"
                                    type="date"
                                    title="选择结束时间"
                                    :min-date="minDate"
                                    :max-date="maxDate"
                                    @confirm="confirmDate3"
                                    :formatter="formatter"
                            />
                        </div>
                    </van-popup>
                </div>
            </van-col>
        </van-row>
        <van-row type="flex">
            <van-col span="4">
                <van-cell>店铺</van-cell>
            </van-col>
            <div class="block">
                <el-cascader
                        v-model="shop"
                        :options="options"
                        :props="{ multiple: true, checkStrictly: true }"
                        clearable
                        @visible-change="findShopNameOption"
                        @getCheckedNodes="getCheckedNodes"
                >
                </el-cascader>
            </div>
        </van-row>
    </div>
    <div style="display: flex;justify-content: center;">
        <el-button type="primary" v-on:click="search">搜索</el-button>
    </div>
    <div>
        <el-table
                :data="tableData3"
                :style="'width:'+wd+'px'">
            <el-table-column
                    prop="index"
                    label="#"
                    type="index"
                    width="150">
            </el-table-column>
                <el-table-column
                        fixed
                        prop="zd"
                        label="终端"
                        width="120">
                </el-table-column>
                    <el-table-column
                            prop="sqje"
                            label="上期金额"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="bqje"
                            label="本期金额"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="sqtqxsj"
                            label="上年同期销售额"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            prop="hb"
                            label="环比"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="tb"
                            label="同比"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="sqmb"
                            label="上期目标"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="bqmb"
                            label="本期目标"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="wcl"
                            label="完成率"
                            width="120">
                    </el-table-column>
        </el-table>
    </div>
</div>




</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                loading: false,
                options:[],
                value: '观音桥①店',
                wd:800,
                tableData3: [],
                bq_date: [],
                sq_date: [],
                minDate: new Date(2020, 0, 1),
                maxDate: new Date(2025, 10, 1),
                currentDate: new Date(),
                startTime: '开始时间',
                endTime: '结束时间',
                startTime2: '开始时间',
                endTime2: '结束时间',
                showDateMotail: false,
                showDateMotail1: false,
                showDateMotail2: false,
                showDateMotail3: false,
                shop:'',
                shopParam:'',
                areaParam:'',
                zjParam:'',
                jlParam:'',
                salesManParam:'',
                shopNames:''

            }
        },
        created: function () {
            this.getwidth();
            this.getOptions('');
        },

        methods:{
            getOptions(q){
                const _vm = this;
                let url = "http://192.168.0.7:9090/api/findZdOpention";
                if (q!=''){
                    url=url+"?shopName="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response)
                        _vm.options=response.data
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            findShopNameOption(v){
                const  t = this;
                console.log(v)
                console.log(t.shop)
                const  shopArr=[];
                const areaArr=[];
                const zjArr=[];
                const jlArr=[];
                const salesManArr=[];
                if (!v){
                 t.shop.forEach(function(value,index){
                     console.log(value)
                     console.log(index)
                     const type = value[0];
                     const va = value[1];
                     if (type==='zhongduan'){
                         if (value[1]){
                             shopArr.push(value[1])
                         }
                     }
                    if (type==='quyu'){
                        if (va){
                            areaArr.push(va);
                        }
                    }
                    if (type==='zongjian'){
                        if (va){
                            zjArr.push(va);
                        }
                    }
                    if (type==='jingli'){
                        if (va){
                            jlArr.push(va)
                        }
                    }
                    if (type==='dudao'){
                        if (va){
                            salesManArr.push(va)
                        }
                    }
                 })
                    if (shopArr.length>0){
                        t.shopParam = shopArr.join(",");
                        return
                    }
                    if (areaArr.length>0){
                        t.areaParam=areaArr.join(",");
                    }
                    if (zjArr.length>0){
                        t.zjParam=zjArr.join(",");
                    }
                    if (jlArr.length>0){
                        t.jlParam=jlArr.join(",");
                    }
                    if (salesManArr.length>0){
                        t.salesManParam=salesManArr.join(",");
                    }

                    t.findShopName()
                }
            },
            getCheckedNodes(v){
                console.log(v)
            },
            getwidth(){
                this.wd =  document.body.clientWidth;
                console.log(this.wd)
            },
            findShopName(){
                console.log("findShopName")
                const _vm = this;
                let  param = '?a=a';
                if (_vm.areaParam!=''){
                    param=param+'&area='+_vm.areaParam;
                }
                if (_vm.zjParam!=''){
                    param=param+'&zj='+_vm.zjParam;
                }
                if (_vm.jlParam!=''){
                    param=param+'&jl='+_vm.jlParam;
                }
                if (_vm.salesManParam!=''){
                    param=param+'&salesMan='+_vm.salesManParam;
                }
                axios.get('http://192.168.0.7:9090/api/findShop?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.shopNames=response.data
                        console.log(_vm.shopNames);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            search:function () {
               console.log(this.sq_date)
               console.log(this.bq_date)
                const _vm = this;
                if (this.sq_date===''||this.sq_date===''){
                    alert("请选择时间")
                    return
                }
                _vm.loading = true;
                let  param = 'bqDate='+this.bq_date+'&sqDate='+_vm.sq_date+'&pageSize=100'+'&pageIndex=1';
                console.log(_vm.shopNames+"---------")
                if(_vm.shopNames!=''){
                    param=param+'&name='+_vm.shopNames;
                }
                axios.get('http://192.168.0.7:9090/api/hbtbData?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.tableData3=response.data
                        _vm.loading = false;
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            } ,
            showPopup() {
                this.showDateMotail = true;
            },
            showPopup1() {
                this.showDateMotail1 = true;
            },
            showPopup2() {
                this.showDateMotail2 = true;
            },
            showPopup3() {
                this.showDateMotail3 = true;
            },
            confirmDate(t){
                console.log(t.getMonth())
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                this.startTime = date
                this.sq_date[0] = date
                this.showDateMotail=false;
            },
            confirmDate1(t){
                console.log(t.getMonth())
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                this.endTime = date
                this.sq_date[1] =date
                console.log(date )
                this.showDateMotail1=false;
            }, confirmDate2(t){
                console.log(t.getMonth())
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                this.startTime2 = date
                this.bq_date[0]= date

                console.log(date)
                this.showDateMotail2=false;
            }, confirmDate3(t){
                console.log(t.getMonth())
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                this.endTime2 = date
                this.bq_date[1]= date
                console.log(date )
                this.showDateMotail3=false;
            },
            formatter(type,val){
                if(type==='year'){
                    return `${val}年`;
                }
                if (type === 'month') {
                    return `${val}月`;
                } else if (type === 'day') {
                    return `${val}日`;
                }
                return val;
            }

        },
    })

</script>
</html>