<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app"
     v-loading="loading"
     element-loading-text="拼命加载中"
     element-loading-spinner="el-icon-loading"
     element-loading-background="rgba(0, 0, 0, 0.8)">
    <div style="display: flex; justify-content: center; align-items: center;">

     <div style="flex-direction: row; flex-grow:2">
         <div class="block">
             <span class="demonstration">上期</span>
             <el-date-picker
                     v-model="sq_date"
                     format="yyyy-MM-dd"
                     value-format="yyyy-MM-dd"
                     type="daterange"
                     range-separator="至"
                     start-placeholder="开始日期"
                     end-placeholder="结束日期">
             </el-date-picker>
         </div>
         <div class="block">
             <span class="demonstration">本期</span>
             <el-date-picker
                     v-model="bq_date"
                     format="yyyy-MM-dd"
                     value-format="yyyy-MM-dd"
                     type="daterange"
                     align="right"
                     unlink-panels
                     range-separator="至"
                     start-placeholder="开始日期"
                     end-placeholder="结束日期"
                     :picker-options="pickerOptions2">
             </el-date-picker>
         </div>
         <div>
             <span class="demonstration">店铺</span>
             <el-select v-model="value"
                        clearable
                        filterable
                        remote
                        :remote-method="getOptions"
                        placeholder="请选择">
                 <el-option
                         v-for="item in options"
                         :key="item.shopName"
                         :label="item.shopName"
                         :value="item.shopName">
                 </el-option>
             </el-select>
         </div>
     </div>
    </div>
    <div style="display: flex;justify-content: center;">
        <el-button type="primary" v-on:click="search">搜索</el-button>
    </div>
    <div>
        <el-table
                :data="tableData3"
                :style="'width:'+wd+'px'">
            <el-table-column
                    prop="index"
                    label="#"
                    type="index"
                    width="150">
            </el-table-column>
                <el-table-column
                        fixed
                        prop="zd"
                        label="终端"
                        width="120">
                </el-table-column>
                    <el-table-column
                            prop="sqje"
                            label="上期金额"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="bqje"
                            label="本期金额"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="sqtqxsj"
                            label="上年同期销售额"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            prop="hb"
                            label="环比"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="tb"
                            label="同比"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="sqmb"
                            label="上期目标"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="bqmb"
                            label="本期目标"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="wcl"
                            label="完成率"
                            width="120">
                    </el-table-column>
        </el-table>
    </div>
</div>




</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                loading: false,
                options:[],
                value: '观音桥①店',
                wd:800,
                tableData3: [] ,
                pickerOptions2: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                bq_date: ['2019-01-01','2019-02-01'],
                sq_date: ['2019-01-01','2019-02-01'],

            }
        },
        created: function () {
            this.getwidth();
            this.getOptions('');
        },

        methods:{
            getOptions(q){
                const _vm = this;
                let url = "http://192.168.0.11:9090/api/findAllShopName";
                if (q!=''){
                    url=url+"?shopName="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response)
                        _vm.options=response.data
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getwidth(){
                this.wd =  document.body.clientWidth;
                console.log(this.wd)
            },
            search:function () {
               console.log(this.sq_date)
               console.log(this.bq_date)
                const _vm = this;
                if (this.sq_date===''||this.sq_date===''){
                    alert("请选择时间")
                    return
                }
                _vm.loading = true;
                const  param = 'bqDate='+this.bq_date+'&sqDate='+this.sq_date+'&name='+_vm.value+'&pageSize=100'+'&pageIndex=1'
                axios.get('http://192.168.0.11:9090/api/hbtbData?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.tableData3=response.data
                        _vm.loading = false;
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
    })

</script>
</html>