<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导购排行</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
</head>
<body>
<div id="app" v-loading="loading">
    <van-row type="flex" justify="space-between">
        <van-col span="8">

            <van-cell  @click="showPopup">{{startTime}}</van-cell>
            <van-popup v-model="showDateMotail"  position="bottom">
                    <van-datetime-picker
                            v-model="currentDate"
                            type="date"
                            title="选择开始时间"
                            :min-date="minDate"
                            :max-date="maxDate"
                            @confirm="confirmDate"
                            @cancel="starCancel"
                            :formatter="formatter"

                    />
            </van-popup>
        </van-col>
        <van-col span="8">
            <van-cell  @click="showPopup2">{{endTime}}</van-cell>
            <van-popup v-model="showDateMotail2"  position="bottom">
                <van-datetime-picker
                        v-model="currentDate"
                        type="date"
                        title="选择年月日"
                        :min-date="minDate"
                        :max-date="maxDate"
                        @confirm="confirmDate112"
                        :formatter="formatter"
                        @cancel="starCancel2"
                />
            </van-popup>
        </van-col>
    </van-row>
    <div style="flex-direction: column; flex-grow:2">
<!--        <div>-->
<!--            <span class="demonstration">终端</span>-->
<!--            <el-select v-model="value"-->
<!--                       clearable-->
<!--                       filterable-->
<!--                       remote-->
<!--                       :remote-method="allShop"-->
<!--                       placeholder="请选择">-->
<!--                <el-option-->
<!--                        v-for="item in options"-->
<!--                        :key="item.shopName"-->
<!--                        :label="item.shopName"-->
<!--                        :value="item.shopName">-->
<!--                </el-option>-->
<!--            </el-select>-->
<!--        </div>-->
        <div class="block">
            <el-cascader
                    v-model="shop"
                    :options="options"
                    :props="{ multiple: true, checkStrictly: true }"
                    clearable
                    @visible-change="findShopNameOption"

            >
            </el-cascader>
        </div>
    </div>
    <div style="display: flex;justify-content: center;">
        <el-button type="primary" v-on:click="search">搜索</el-button>
    </div>

    <div>
        <el-table
                :data="tableData3"
                :style="'width:'+wd+'px'">
            <el-table-column
                    prop="index"
                    label="#"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    fixed
                    prop="店铺名称"
                    label="终端"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="店员名称"
                    label="店员名称"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="销售金额"
                    label="销售金额"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="上月金额"
                    label="上月金额"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="本月目标"
                    label="本月目标"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="上月目标"
                    label="上月目标"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="本月完成率"
                    label="本月完成率"
                    width="100">
            </el-table-column>
            <el-table-column
                    label="上月完成率"
                    value="100%"
                    width="100">
                <template slot-scope="scope">
                    <span>
                        {{scope.row.上月完成率||'0.00'}}%
                    </span>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            @prev-click="prePage"
            @next-click="nextPage"
            :current-page.sync="currentPage3"
            :page-size="100"
            layout="prev, pager, next, jumper"
            :total="total"
            :page-sizes="[10, 20, 30, 40, 50, 100]"
            background
    >
    </el-pagination>


</div>


</body>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                pageIndex: 1,
                pageSize:10,
                total:0,
                date: '',
                show: false,
                loading: false,
                options:[],
                value: '观音桥①店',
                wd:800,
                tableData3: [],
                bq_date: ['2020-01-01','2020-05-01'],
                currentPage3: 1,
                minDate: new Date(2020, 0, 1),
                maxDate: new Date(2025, 10, 1),
                currentDate: new Date(),
                showDateMotail:false,
                showDateMotail2:false,
                startTime: '开始时间',
                endTime: '结束时间',
                shopParam:'',
                areaParam:'',
                zjParam:'',
                jlParam:'',
                salesManParam:'',
                shopNames:'',
                shop:''


            }
        },
        created: function () {
            // this.allShop('');
            this.getOptions('');

        },
        mounted: function(){
            const t = this;
            t.getNowDate();
            t.search();

        },
        methods:{
            allShop(q){
                const _vm = this;
                let url = "http://holer.cc:50369/api/findAllShopName";
                if (q!=''){
                    url=url+"?shopName="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response)
                        _vm.options=response.data
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getNowDate() {
                const  t =this;
                const nowDate = new Date();
                let date = {
                    year: nowDate.getFullYear(),
                    month: (nowDate.getMonth() + 1)>10?(nowDate.getMonth()+1):"0"+(nowDate.getMonth()+1),
                    date: nowDate.getDate()>10?nowDate.getDate():"0"+nowDate.getDate(),
                }
                const  dt = date.year + '-'+ date.month + '-'+ date.date;
                t.bq_date = [dt,dt];

            },
            search:function () {
                const _vm = this;
                console.log(_vm.bq_date)
                if (_vm.bq_date[0]===''){
                    alert("请选择开始时间")
                    return
                }
                if (_vm.bq_date[1]===''){
                    alert("请选择结束时间")
                    return
                }
                _vm.loading = true;
                let  param = 'date='+this.bq_date+'&pageIndex='+_vm.pageIndex+'&pageSize='+_vm.pageSize;

                if(_vm.shopNames!=''){
                    param=param+'&shopName='+_vm.shopNames;
                }
                axios.get('http://holer.cc:50369/api/findSaleRank?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.tableData3=response.data.list
                        _vm.total = response.data.total
                        _vm.loading = false;
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            handleSizeChange(val) {

                const t = this

                t.pageSize = val
                t.search()
            },
            handleCurrentChange(val) {
                const t = this

                t.pageIndex = val
                t.search()
            },
            prePage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            nextPage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            showPopup() {
                this.showDateMotail = true;
            },
            showPopup2() {
                this.showDateMotail2 = true;
            },
            confirmDate(t){
                const that = this;
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                that.startTime = date;
                that.bq_date[0] = date;
                that.showDateMotail=false;
            },
            confirmDate112(t){
                const  that = this;
                const year = t.getFullYear();
                const month = t.getMonth()+1;
                const day = t.getDate();
                const strDay = day<10?("0"+day):day;
                const strMonth = month<10?('0'+month):month;
                const date = year+'-'+strMonth+'-'+strDay;
                that.endTime = date;
                that.bq_date[1] = date;
                that.showDateMotail2=false;
            },
            starCancel(){
                const that =this
                that.showDateMotail=false;

            },
            starCancel2(){
                const that =this
                that.showDateMotail2=false;
            },
            formatter(type,val){
                if(type==='year'){
                    return `${val}年`;
                }
                if (type === 'month') {
                    return `${val}月`;
                } else if (type === 'day') {
                    return `${val}日`;
                }
                return val;
            },
            getOptions(q){
                const _vm = this;
                let url = "http://holer.cc:50369/api/findZdOpention";
                if (q!=''){
                    url=url+"?shopName="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response)
                        _vm.options=response.data
                        console.log(_vm.tableData3);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            findShopNameOption(v){
                const  t = this;
                console.log(v)
                console.log(t.shop)
                const  shopArr=[];
                const areaArr=[];
                const zjArr=[];
                const jlArr=[];
                const salesManArr=[];
                if (!v&&t.shop){
                    t.shop.forEach(function(value,index){
                        console.log(value)
                        console.log(index)
                        const type = value[0];
                        const va = value[1];
                        if (type==='zhongduan'){
                            if (value[1]){
                                shopArr.push(value[1])
                            }
                        }
                        if (type==='quyu'){
                            if (va){
                                areaArr.push(va);
                            }
                        }
                        if (type==='zongjian'){
                            if (va){
                                zjArr.push(va);
                            }
                        }
                        if (type==='jingli'){
                            if (va){
                                jlArr.push(va)
                            }
                        }
                        if (type==='dudao'){
                            if (va){
                                salesManArr.push(va)
                            }
                        }
                    })
                    if (shopArr.length>0){
                        t.shopParam = shopArr.join(",");
                        return
                    }
                    if (areaArr.length>0){
                        t.areaParam=areaArr.join(",");
                    }
                    if (zjArr.length>0){
                        t.zjParam=zjArr.join(",");
                    }
                    if (jlArr.length>0){
                        t.jlParam=jlArr.join(",");
                    }
                    if (salesManArr.length>0){
                        t.salesManParam=salesManArr.join(",");
                    }
                    t.findShopName();
                }
            },
            findShopName(){
                console.log("findShopName")
                const _vm = this;
                let  param = '?a=a';
                if (_vm.areaParam!=''){
                    param=param+'&area='+_vm.areaParam;
                }
                if (_vm.zjParam!=''){
                    param=param+'&zj='+_vm.zjParam;
                }
                if (_vm.jlParam!=''){
                    param=param+'&jl='+_vm.jlParam;
                }
                if (_vm.salesManParam!=''){
                    param=param+'&salesMan='+_vm.salesManParam;
                }
                axios.get('http://holer.cc:50369/api/findShop?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.shopNames=response.data
                        console.log(_vm.shopNames);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }

    })

</script>
</html>