<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进销存分析</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
</head>
<body>
<div id="app"  v-loading="loading">
    <div class="block">
        <span class="demonstration">开始时间</span>
        <el-date-picker
                v-model="start"
                type="date"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                @change="startDate"
                placeholder="选择日期">
        </el-date-picker>
    </div>
    <div class="block">
        <span class="demonstration">结束时间</span>
        <el-date-picker
                v-model="end"
                type="date"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                @change="endTime"
                placeholder="选择日期">
        </el-date-picker>
    </div>

    <div>
        <span class="demonstration">区域名称</span>
        <el-select v-model="defaultArea"
                   clearable
                   filterable
                   remote
                   :remote-method="allArea"
                   placeholder="请选择">
            <el-option
                    v-for="item in AreaList"
                    :key="item"
                    :label="item"
                    :value="item">
            </el-option>
        </el-select>
    </div>

    <div style="display: flex;justify-content: center;">
        <el-button type="primary" v-on:click="search">搜索</el-button>
    </div>

    <div>
        <el-table
                :data="tableData"
                border
                :style="'width:'+wd+'px'">
            <el-table-column
                    prop="index"
                    label="#"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="区域名称"
                    label="区域名称"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="业务员名称"
                    label="业务员名称"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="仓库名称"
                    label="仓库名称"
                    sortable="custom"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="小类名称"
                    label="小类名称"
                    sortable="custom"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="单价"
                    label="单价"
                    sortable="custom"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="销售数量"
                    label="销售数量"
                    sortable="custom"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="库存数量"
                    label="库存数量"
                    sortable="custom"
                    width="110">
            </el-table-column>
        </el-table>
    </div>
    <div>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                @prev-click="prePage"
                @next-click="nextPage"
                :current-page.sync="currentPage3"
                :page-size="100"
                layout="prev, pager, next, jumper"
                :total="total"
                :page-sizes="[10, 20, 30, 40, 50, 100]"
                background
        >
        </el-pagination>
    </div>

    <div>
        <el-collapse v-model="activeName" @change="handleChange"  accordion>
            <el-collapse-item title="区域汇总"  v-loading="loadhz1"   name="1">
                <van-list>
                   <div style="display: flex; flex-directio:row;justify-content:space-between;">
                       <div   style="width: 120px;height: 60px;line-height: 60px;">地区名称</div>
                       <div  style="width: 80px;height: 60px;line-height: 60px;">数量</div>
                       <div  style="width: 100px;height: 60px;line-height: 60px;">金额</div>
                   </div>
                    <div   v-for='(item, index) in hzList' :key="index" style="display: flex; flex-directio:row;justify-content:space-between;">
                        <div   style="width: 120px;height: 60px;line-height: 60px;">{{item.地区名称}}</div>
                        <div   style="width: 80px;height: 60px;line-height: 60px;">{{item.数量}}</div>
                        <div   style="width: 100px;height: 60px;line-height: 60px;">{{item.金额}}</div>
                    </div>
                </van-list>
            </el-collapse-item>
            <el-collapse-item title="业务员汇总" v-loading="loadhz2"   name="2">
                <van-list>
                    <div style="display: flex; flex-directio:row;justify-content:space-between;">
                        <div   style="width: 120px;height: 60px;line-height: 60px;">地区名称</div>
                        <div  style="width: 80px;height: 60px;line-height: 60px;">数量</div>
                        <div  style="width: 100px;height: 60px;line-height: 60px;">金额</div>
                    </div>
                    <div   v-for='(item, index) in hzList' :key="index" style="display: flex; flex-directio:row;justify-content:space-between;">
                        <div  style="width: 120px;height: 60px;line-height: 60px;">{{item.督导名称}}</div>
                        <div   style="width: 80px;height: 60px;line-height: 60px;">{{item.数量}}</div>
                        <div   style="width: 100px;height: 60px;line-height: 60px;">{{item.金额}}</div>
                    </div>

                </van-list>
            </el-collapse-item>
            <el-collapse-item title="仓库汇总" v-loading="loadhz3"   name="3">
                <van-list>
                    <div style="display: flex; flex-directio:row;justify-content:space-between;">
                        <div   style="width: 120px;height: 60px;line-height: 60px;">地区名称</div>
                        <div  style="width: 80px;height: 60px;line-height: 60px;">数量</div>
                        <div  style="width: 100px;height: 60px;line-height: 60px;">金额</div>
                    </div>
                    <div   v-for='(item, index) in hzList' :key="index" style="display: flex; flex-directio:row;justify-content:space-between;">
                        <div  style="width: 120px;height: 60px;line-height: 60px;">{{item.店铺名称}}</div>
                        <div  style="width: 80px;height: 60px;line-height: 60px;">{{item.数量}}</div>
                        <div  style="width: 100px;height: 60px;line-height: 60px;">{{item.金额}}</div>
                    </div>
                </van-list>
            </el-collapse-item>

        </el-collapse>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                start: '',
                end: '',
                AreaList:[],
                defaultArea:'重庆区域',
                tableData:[],
                tableDataHz:[],
                salesManhzList:[],
                wd:800,
                pageSize:10,
                pageIndex:1,
                currentPage3:1,
                loading:false,
                loadhz1:false,
                loadhz2:false,
                loadhz3:false,
                listLoad:false,
                total:0,
                order:'',
                prop:'',
                activeName: '1',
                error: false,
                hzList:[],
                finished: true,
                refreshing: false,
                hzPageSize:10,
                hzPageIndex:1
            }
        },
        mounted: function(){
            const t = this;
            t.search()

        },
        created: function () {
            const t = this;
            t.allArea('');
            t.getNowDate();

        },
        methods: {
            allArea(q){
                const _vm = this;
                let url = "http://192.168.0.7:9090/api/findAllarea";
                if (q!=''){
                    url=url+"?area="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response.data)
                        _vm.AreaList=response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            search(){
                const _vm = this;
                if (_vm.start===''){
                    alert("请选择开始时间")
                    return
                }
                if (_vm.end===""){
                    alert("请选择结束时间")
                    return
                }
                _vm.loading = true;
                let  param = 'start='+_vm.start+'&end='+_vm.end+'&pageIndex='+_vm.pageIndex+'&pageSize='+_vm.pageSize;
                if (_vm.defaultShop){
                    param+='&shopName='+_vm.defaultShop
                }

                axios.get('http://192.168.0.7:9090/api/getInData?'+param)
                    .then(function (response) {
                        console.log(response)
                        _vm.tableData=response.data.list
                        _vm.total = response.data.total
                        _vm.loading = false;
                        console.log(_vm.tableData);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getNowDate() {
                const  t =this;
                const nowDate = new Date();
                let date = {
                    year: nowDate.getFullYear(),
                    month: (nowDate.getMonth() + 1)>10?(nowDate.getMonth()+1):"0"+(nowDate.getMonth()+1),
                    date: nowDate.getDate()>10?nowDate.getDate():"0"+nowDate.getDate(),
                }
                const  start = date.year + '-'+ date.month + '-'+ (date.date-1);
                const  end = date.year + '-'+ date.month + '-'+ date.date;
                t.start = start;
                t.end = end;
            } ,
            handleSizeChange(val) {

                const t = this

                t.pageSize = val
                t.search()
            },
            handleCurrentChange(val) {
                const t = this

                t.pageIndex = val
                t.search()
            },
            prePage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            nextPage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            startDate(date){
                console.log(date)
            },
            endTime(date){
                console.log(date)
            },
            handleChange(v){
                if (''!=v){

                    const t = this;

                    if (v==='1'){
                        t.loadhz1 =true;
                        console.log("区域汇总");
                        t.hzData(v)
                        t.loadhz1 =false;
                    }
                     if (v==='2'){
                         t.loadhz2 =true;
                        console.log("业务员汇总");
                         t.hzData(v)

                         t.loadhz2 =false;
                    }
                     if (v==='3'){
                         t.loadhz3 =true;
                        console.log("店铺汇总");
                         t.hzData(v)
                         t.loadhz3 =false;
                    }


                }
            },
            hzData(t){
                let _vm = this;
                let url = "";
                switch (t) {
                    case '1':
                        console.log("1")
                        url = "http://192.168.0.7:9090/api/areaHz?";
                        break;
                    case '2':
                        console.log("2")
                        url = "http://192.168.0.7:9090/api/salesManHz?";
                        break;
                    case '3':
                        console.log("3")
                        url = "http://192.168.0.7:9090/api/shopNameHz?";
                        break;
                    default:
                        return;

                }
                let  param = 'start='+_vm.start+'&end='+_vm.end+'&pageIndex='+_vm.hzPageIndex+'&pageSize='+_vm.hzPageSize;
                if (_vm.defaultArea!=''){
                    param = param + '&area='+_vm.defaultArea
                }
                console.log(param)
                url+=param;
                axios.get(url)
                    .then(function (response) {
                        console.log(response);
                        _vm.hzList=response.data;
                        console.log(_vm.hzList);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            hzOnLoad(tag) {
                const t = this;
                console.log('load'+ tag)
                t.hzPageSize=10;
                t.hzPageIndex=2;
                t.hzData('3')
                t.listLoad = false;
            },
            onRefresh(){
                const t = this;
                t.finished = false;

                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.listLoad = true;
                this.hzOnLoad();
            }


        },
    })
</script>
</body>
</html>