<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
</head>
<body>
    <div id="app"  v-loading="loading">
        <div class="block">
            <span class="demonstration">开始时间</span>
            <el-date-picker
                    v-model="start"
                    type="date"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    @change="startDate"
                    placeholder="选择日期">
            </el-date-picker>
        </div>
        <div class="block">
            <span class="demonstration">结束时间</span>
            <el-date-picker
                    v-model="end"
                    type="date"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    @change="endTime"
                    placeholder="选择日期">
            </el-date-picker>
        </div>
        <div>
            <span class="demonstration">终端名称</span>
            <el-select v-model="defaultShop"
                       clearable
                       filterable
                       remote
                       :remote-method="allShop"
                       placeholder="请选择">
                <el-option
                        v-for="item in shopList"
                        :key="item.shopName"
                        :label="item.shopName"
                        :value="item.shopName">
                </el-option>
            </el-select>
        </div>
        <div style="display: flex;justify-content: center;">
            <el-button type="primary" v-on:click="search">搜索</el-button>
        </div>
        <div>
            <el-table
                    :data="tableData"
                    border
                    :style="'width:'+wd+'px'">
                <el-table-column
                        prop="index"
                        label="#"
                        type="index"
                        width="100">
                </el-table-column>
                <el-table-column

                        prop="顾客名字"
                        label="顾客名字"
                        width="190">
                </el-table-column>
                <el-table-column
                        prop="顾客手机"
                        label="顾客手机"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="数量"
                        label="数量"
                        sortable="custom"
                        width="140">
                </el-table-column>
                <el-table-column
                        prop="金额"
                        label="金额"
                        sortable="custom"
                        width="180">
                </el-table-column>
            </el-table>
        </div>
        <div>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    @prev-click="prePage"
                    @next-click="nextPage"
                    :current-page.sync="currentPage3"
                    :page-size="100"
                    layout="prev, pager, next, jumper"
                    :total="total"
                    :page-sizes="[10, 20, 30, 40, 50, 100]"
                    background
            >
            </el-pagination>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                start: '',
                end: '',
                shopList:[],
                defaultShop:'观音桥①店',
                tableData:[],
                wd:800,
                pageSize:10,
                pageIndex:1,
                currentPage3:1,
                loading:false,
                total:0,
                order:'',
                prop:''
            }
        },
        mounted: function(){
            const t = this;
            t.search()

        },
        created: function () {
            const t = this;
            t.allShop('');
            t.getNowDate();

        },
        methods: {
            allShop(q){
                const _vm = this;
                let url = "http://192.168.0.7:9090/api/findAllShopName";
                if (q!=''){
                    url=url+"?shopName="+q;
                }
                axios.get(url)
                    .then(function (response) {
                        console.log(response.data)
                        _vm.shopList=response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            search(){
                const _vm = this;
                if (_vm.start===''){
                    alert("请选择开始时间")
                    return
                }
                if (_vm.end===""){
                    alert("请选择结束时间")
                    return
                }
                _vm.loading = true;
                let  param = 'start='+_vm.start+'&end='+_vm.end+'&pageIndex='+_vm.pageIndex+'&pageSize='+_vm.pageSize;
                if (_vm.defaultShop){
                    param+='&shopName='+_vm.defaultShop
                }
                if (_vm.order!=null&&_vm.order!=''){
                    param+='&order='+_vm.order+'&prop='+_vm.prop
                }
                axios.get('http://192.168.0.7:9090/api/vipRangeData?'+param)
                    .then(function (response) {
                        _vm.tableData=response.data.list
                        _vm.total = response.data.total
                        _vm.loading = false;
                        console.log(_vm.tableData);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getNowDate() {
                const  t =this;
                const nowDate = new Date();
                let date = {
                    year: nowDate.getFullYear(),
                    month: (nowDate.getMonth() + 1)>10?(nowDate.getMonth()+1):"0"+(nowDate.getMonth()+1),
                    date: nowDate.getDate()>10?nowDate.getDate():"0"+nowDate.getDate(),
                }
                const  start = date.year + '-'+ date.month + '-'+ (date.date-1);
                const  end = date.year + '-'+ date.month + '-'+ date.date;
                t.start = start;
                t.end = end;
            } ,
            handleSizeChange(val) {

                const t = this

                t.pageSize = val
                t.search()
            },
            handleCurrentChange(val) {
                const t = this

                t.pageIndex = val
                t.search()
            },
            prePage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            nextPage(val){
                const t = this
                t.pageIndex = val
                t.search()
            },
            startDate(date){
                console.log(date)
            },
            endTime(date){
                console.log(date)
            },
        }
    })
</script>
</html>