<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mobileweb.mapper.CwbzXsmxHyMapper">
  <resultMap id="BaseResultMap" type="com.echo.mobileweb.entity.CwbzXsmxHy">
    <result column="小票号" jdbcType="VARCHAR" property="小票号" />
    <result column="日期" jdbcType="TIMESTAMP" property="日期" />
    <result column="店铺代码" jdbcType="VARCHAR" property="店铺代码" />
    <result column="店铺名称" jdbcType="VARCHAR" property="店铺名称" />
    <result column="经理名称" jdbcType="VARCHAR" property="经理名称" />
    <result column="督导名称" jdbcType="VARCHAR" property="督导名称" />
    <result column="总监名称" jdbcType="VARCHAR" property="总监名称" />
    <result column="地区名称" jdbcType="VARCHAR" property="地区名称" />
    <result column="商品代码" jdbcType="VARCHAR" property="商品代码" />
    <result column="数量" jdbcType="DOUBLE" property="数量" />
    <result column="金额" jdbcType="DOUBLE" property="金额" />
    <result column="大类名称" jdbcType="VARCHAR" property="大类名称" />
    <result column="小类名称" jdbcType="VARCHAR" property="小类名称" />
    <result column="VIP卡号" jdbcType="VARCHAR" property="vip卡号" />
    <result column="顾客名字" jdbcType="NVARCHAR" property="顾客名字" />
    <result column="顾客手机" jdbcType="NVARCHAR" property="顾客手机" />
    <result column="累计消费" jdbcType="NUMERIC" property="累计消费" />
    <result column="厂家" jdbcType="VARCHAR" property="厂家" />
    <result column="吊牌价" jdbcType="VARCHAR" property="吊牌价" />
  </resultMap>

	<resultMap id="CwbzXsmxHyResultMap" type="com.echo.mobileweb.result.CwbzXsmxHyResult">
		<result column="店铺" jdbcType="VARCHAR" property="shopName" />
		<result column="类别" jdbcType="VARCHAR" property="cType" />
		<result column="销售数量" jdbcType="VARCHAR" property="saleNum" />
		<result column="销售金额" jdbcType="VARCHAR" property="salePrice" />
		<result column="会员消费金额" jdbcType="VARCHAR" property="vipPrice" />
		<result column="数量占比" jdbcType="VARCHAR" property="numProportion" />
		<result column="金额占比" jdbcType="VARCHAR" property="priceProportion" />
		<result column="会员占比" jdbcType="VARCHAR" property="vipProportion" />
		<result column="单价" jdbcType="VARCHAR" property="singlePrice" />
	</resultMap>

  <select id="selectCwbzXsmxHy" resultMap="CwbzXsmxHyResultMap">

 select
	t1.店铺名称 as 店铺,
	t1.大类名称 as 类别,
	t1.数量 as 销售数量,
	t1.金额 as 销售金额,
	t3.会员总金额 as 会员消费金额,
	NULLIF(Round((CONVERT(float,t1.数量)/CONVERT(float,NULLIF(t2.总数量,0)))*100,2),'0') as 数量占比,
	NULLIF(Round((CONVERT(float,t1.金额)/CONVERT(float,NULLIF(t2.总金额,0)))*100,2),'0') as 金额占比,
	NULLIF(Round((CONVERT(float,t3.会员总金额)/CONVERT(float,NULLIF(t2.总金额,0)))*100,2),'0') as 会员占比,
	nullif (Round(t2.总金额/t2.总数量,2),0) as 单价
  from (
	(
		select
			店铺名称,
			大类名称,
			SUM(数量) as 数量,
			SUM(金额) as 金额
		from
			cwbz_xsmx_hy
		where
			日期
		between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
        <if test="shopName!=null">
          and 店铺名称=#{shopName}
        </if>
		group by
			店铺名称 ,大类名称) as t1
  left join
	(
		select
			店铺名称,
			SUM(数量) as 总数量,
			SUM(金额) as 总金额
		from
			cwbz_xsmx_hy
		where
			日期
		between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
        <if test="shopName!=null">
          and 店铺名称=#{shopName}
        </if>
		group by
			店铺名称
	)   as t2 on  t1.店铺名称 = t2.店铺名称
	left join(
	select
			店铺名称,
			SUM(数量) as 会员总数量,
			SUM(金额) as 会员总金额
		from
			cwbz_xsmx_hy
		where
			日期
		between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
		and
		    len(VIP卡号)>0
        <if test="shopName!=null">
          and 店铺名称=#{shopName}
        </if>
		group by
			店铺名称
	) as t3 on t1.店铺名称 =t3.店铺名称
	)

    </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from cwbz_xsmx_hy;
  </select>

	<select id="selectAllArea" resultType="java.lang.String">
		select 地区名称 from cwbz_xsmx_hy
		where 1 = 1
		<if test="area!=null">
			and 地区名称 like '%${area}%'
		</if>
		group by 地区名称
	</select>
	<select id="selectAllZj" resultType="java.lang.String">
		select 总监名称 from cwbz_xsmx_hy where 1 = 1
		<if test="name!=null">
			and 总监名称 = #{name}
		</if>
		group by 总监名称
	</select>
	<select id="selectAllJl" resultType="java.lang.String">
		select 经理名称 from cwbz_xsmx_hy where 1 = 1
		<if test="name!=null">
			and 经理名称 = #{name}
		</if>
		group by 经理名称
	</select>
	<select id="selectAllSalesMan" resultType="java.lang.String">
		select 督导名称 from cwbz_xsmx_hy where 1 = 1
		<if test="name!=null">
			and 督导名称 = #{name}
		</if>
		group by 督导名称
	</select>
	<select id="selectAllShop" resultType="java.lang.String">
		select   商店名称 from kehu where 1 = 1
		<if test="name!=null">
			and 商店名称 = #{name}
		</if>
		group by 商店名称
	</select>
	<select id="selectShop" resultType="java.lang.String">
		select 商店名称 from kehu where 1 = 1
		<if test="area!=null">
			and 地区名称 = #{area}
		</if>
		<if test="zj!=null">
			and 总监名称 = #{zj}
		</if>
		<if test="jl!=null">
			and 经理名称 = #{jl}
		</if>
		<if test="salesMan!=null">
			and 督导名称 = #{salesMan}
		</if>
		group by 商店名称
	</select>
	<select id="selectareaTypeData" resultType="java.util.Map">
	select
	   t1.地区名称 as 地区名称,
	   t1.大类名称 as 大类名称,
	   t1.金额 as 金额,
	   t1.数量 as 数量,
	NULLIF(Round((CONVERT(float,t1.数量)/CONVERT(float,NULLIF(t2.总数量,0)))*100,2),'0') as 数量占比,
	NULLIF(Round((CONVERT(float,t1.金额)/CONVERT(float,NULLIF(t2.总金额,0)))*100,2),'0') as 金额占比,
		t2.总数量 as 总数量,
		t2.总金额 as 总金额

	from (
  (select 地区名称, 大类名称, SUM(数量) as 数量,SUM(金额) as 金额 from cwbz_xsmx_hy
   where
   		日期
		between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
		<if test="area!=null">
			and 地区名称=#{area}
		</if>
   group by 地区名称,大类名称 ) as t1
  left join
  (
  	select 地区名称, SUM(金额) 总金额,SUM(数量) as 总数量 from cwbz_xsmx_hy where
   日期
		between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
		<if test="area!=null">
			and 地区名称=#{area}
		</if>
   group by 地区名称) as t2 on t1.地区名称 = t2.地区名称
  ) order by 地区名称
	</select>

	<select id="selectVIPrangeData" resultType="java.util.Map">
		select
			顾客名字,
			顾客手机,
			SUM(累计消费) as 金额,
			SUM(数量) as 数量
		from
			cwbz_xsmx_hy
		where
			日期
		between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)
		and
		LEN(VIP卡号) >0
		<if test="shopName!=null">
			and 店铺名称=#{shopName}
		</if>
		   group by 顾客名字,顾客手机 order by 金额 desc;
	</select>

	<select id="selectSalerangeData" resultType="java.util.Map">
	select
		*
	from  ((
		select
		  商品代码,
		  SUM(数量) as 数量
		from
			cwbz_xsmx_hy
		where
		  日期
		between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)
		<if test="shopName!=null">
			and 店铺代码=#{shopName}
		</if>
		group by 商品代码
		)  as t1
		left join (
		select
		  商品代码 as 库存商品代码,
		  SUM(数量) as 库存数量
		from
			cwbz_spkcb
		group by 商品代码  ) as t2
		on t1.商品代码 = t2.库存商品代码 )
	</select>
	
	<select id="selectSaleDayAve" resultType="java.util.Map">
		select SUM(金额) from cwbz_xsmx_hy where 日期 between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)  店铺代码 in ( select   店铺代码 from cwbz_mrkc)
	</select>

	<select id="selectShopTotalNum" resultType="java.lang.Long">
		select count(0) from cwbz_mrkc
			where
			 日期 between
			cast('${start}' as datetime)
			and
			cast('${end}' as datetime)
	</select>
	<select id="selectShopSaleMoney" resultType="java.lang.Float">
		  select nullif (SUM(金额),0) from cwbz_xsmx_hy where 日期 between
			cast('${start}' as datetime)
			and
			cast('${end}' as datetime)
	</select>
	<select id="selectMonthReport" resultType="java.util.Map">
		 select
		 	 sum(cwbz_xsmx_hy.数量) as 数量,
			 cwbz_xsmx_hy.小类名称,
			 sum(cwbz_xsmx_hy.金额) as 金额
		 from cwbz_xsmx_hy
		group by cwbz_xsmx_hy.小类名称,cwbz_xsmx_hy.金额,cwbz_xsmx_hy.数量

	</select>

  <select id="selectNum" resultType="java.lang.Long">
	  select sum(数量) from cwbz_spkcb where 小类名称=#{sType};
  </select>

	<select id="selectBigYearReportData" resultType="java.util.Map">
		select
			sum(金额) as 金额,
       		month(日期) as 月份,
       		count(店铺名称) as 店铺数量,
       		sum(数量) as 总销数量
		from
			cwbz_xsmx_hy
		where
			year(日期)=${year}
		group by month(日期)
	</select>
	<select id="selectStockNum" resultType="java.lang.Long">
		select nullif(sum(数量) ,0)from cwbz_mrkc where year(日期)=${year } and month(日期)=${month};
	</select>
	<select id="selectStockNumByShopCode" resultType="java.lang.Long">
	 select sum(数量) from cwbz_spkcb where 商品代码 = #{shopCode}
	</select>
	<select id="selectSmallTypeYearMonthData" resultType="java.util.Map">
		select
    		cwbz_xsmx_hy.小类名称 as 小类名称,
    		cwbz_xsmx_hy.厂家 as 厂家,
			cwbz_xsmx_hy.商品代码 as 商品代码,
    		cwbz_xsmx_hy.吊牌价 as 吊牌价,
    		sum(cwbz_xsmx_hy.数量) as 销售数量
		from
        	cwbz_xsmx_hy
        where
        	日期
        between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
		group by cwbz_xsmx_hy.小类名称,cwbz_xsmx_hy.厂家,cwbz_xsmx_hy.商品代码,cwbz_xsmx_hy.吊牌价
		order by cwbz_xsmx_hy.小类名称
	</select>

<select id="inData" resultType="java.util.Map">
select
		t1.地区名称 as 区域名称,
		t1.督导名称 as 业务员名称,
		t1.店铺名称 as 仓库名称,
		t1.小类名称 as 小类名称,
		t1.吊牌价 as 单价,
		t1.数量 as 销售数量,
		cwbz_spkcb.数量  as 库存数量
		from ((
select
    cwbz_xsmx_hy.地区名称,cwbz_xsmx_hy.督导名称,cwbz_xsmx_hy.店铺名称,cwbz_xsmx_hy.小类名称,
       cwbz_xsmx_hy.吊牌价,sum(cwbz_xsmx_hy.数量) as 数量,cwbz_xsmx_hy.小票号,cwbz_xsmx_hy.店铺代码,cwbz_xsmx_hy.商品代码
from
     cwbz_xsmx_hy
     where
     	日期
        between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
group by
         cwbz_xsmx_hy.地区名称,cwbz_xsmx_hy.督导名称,cwbz_xsmx_hy.店铺名称,cwbz_xsmx_hy.小类名称,cwbz_xsmx_hy.吊牌价,cwbz_xsmx_hy.数量,cwbz_xsmx_hy.小票号,cwbz_xsmx_hy.店铺代码,cwbz_xsmx_hy.商品代码
    )   t1 left join   cwbz_spkcb   on t1.店铺代码 = cwbz_spkcb.店铺代码 and    t1.商品代码 = cwbz_spkcb.商品代码)
order by t1.小票号 asc
</select>

	<select id="inDataCount" resultType="java.lang.Long">
		 select
    	count(0)
		from
       cwbz_xsmx_hy
     where
     	日期
        between
			cast('${start}' as datetime)
		and
			cast('${end}' as datetime)
	</select>

	<select id="selectAreaHz" resultType="java.util.Map">
		select 地区名称,
				sum(金额) as 金额,
				sum(数量) as 数量 from cwbz_xsmx_hy
		 where 1 =1
		 and
			日期
		between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)
		 <if test="area!=null">
			 and 地区名称 = #{area}
		 </if>
		 group by 地区名称
	</select>

	<select id="selectSalesmanHz" resultType="java.util.Map">
		select 督导名称,
		sum(金额) as 金额,
				sum(数量) as 数量
				from cwbz_xsmx_hy
		where 1 = 1
		and
		日期
		between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)
		<if test="area!=null">
			and 地区名称 = #{area}
		</if>
		group by 督导名称
	</select>

	<select id="selectShopNameHz" resultType="java.util.Map">
		select 店铺名称,
		sum(金额) as 金额,
		sum(数量) as 数量
		from cwbz_xsmx_hy
		where 1 = 1
		and
		日期
		between
		cast('${start}' as datetime)
		and
		cast('${end}' as datetime)
		<if test="area!=null">
			and 地区名称 = #{area}
		</if>
		group by 店铺名称
	</select>
</mapper>